// 這裡是共用變數
// 顏色
// 顏色用法 darken($變數, 幾%)
$c-wh: #FFF;
$c-wh-95: hsla(255,255,255,.95);
$c-wh-50: hsla(255,255,255,.5);
$c-33: #333;
$c-33-20: hsla(0,0,20,.2);

$c-FF:#FF9202;
$c-main:#F2D57F; // main-color
$c-p:#6F6F6F; //部分文字深灰色
$c-table:#504E4E; //欄位和table的顏色：灰色。
$c-dgc:#342E2D;//深灰色，使用footer中logo的背景色。

// 文字
// 字級
$f-10: 0.625rem;
$f-12: 0.75rem;
$f-13: 0.8125rem;
$f-14: 0.875rem;
$f-15: 0.9375rem;
$f-16: 1rem;
$f-18:1.125rem;
$f-20: 1.25rem;
$f-21: 1.3125rem;
$f-24: 1.5rem;
$f-26: 1.625rem;
$f-28: 1.75rem;	
$f-32:2rem;
$f-40:2.5rem;
	
// 粗細
$f-b: 600;
$f-r: 400;
$f-l: 100;

