.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0e0d;
  box-shadow: 0 5px 15px -10px #111; }
  .header.header-wrap {
    padding: 0 70px; }

.logo {
  order: 1;
  width: 163px;
  height: 155px;
  padding: 24px; }
  .logo img {
    width: 100%; }

.item {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  padding: 24px; }

.item:nth-of-type(n+3) {
  order: 2; }

@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: stretch; }
  .logo {
    order: 0;
    text-align: center;
    width: 100px;
    margin: auto auto 20px; }
  .item {
    text-align: center;
    border-bottom: 1px solid #111; } }
